body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

.navbar-light .navbar-brand{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    color: #F73E06;
}
.navbar-light .navbar-nav .nav-link {
    color: #385370;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #F73E06;
}
.navbar-light .navbar-nav{
    margin-right: 30px;
}
.navbar-light .navbar-nav .nav-item{
    padding-left:20px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #385370;
    font-weight: 700;
}

.navbar a.btn{
    background: transparent;
    border-color: #385370;
    color: #385370;
}

.navbar a.btn:hover{
    background-color: #385370;
    color: #fff;
}

#jumboTag {
    text-align: right;
    margin-bottom: -10px;
    margin-right: 35px;
}
 
#latestResults {
    background: none;
}

#sportJumboLabel, #jumboMatchSched {
    margin-left: 170px;
    display: inline-block;
}

#jumboTag {
    margin-right: 35px;
    font-size: 85%;
}

#latestRow {
    margin-bottom: 90px;
}

#homeScore, #awayScore {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.vl {
    border-left: 3px solid rgb(133, 133, 133);
    height: 200px;
    transform: rotate(15deg);
    margin-top: 20px;
    margin-left: 80px;
}

.matchCarousel {
    text-align: center;
}

#matchSelect {
    display: inline-block;
    float: right;
    margin-right: 170px;
}
#userInfo{
 font-size: 20;
 font-weight: lighter;
 margin: 8%  auto;
 padding: 10px
}
 
.slider .caption{
    position: absolute;
    z-index: 100;
    top: 160px;
    left: 100px;
    right: 100px;
    color: #fff;
    text-align: center;
}

.slider .caption h2{
    margin-bottom: 30px;
}

.opacity{
    position: absolute;
    z-index: 90;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.5;
}

.slider .slick-slide{
    position: relative;
}
.slick-dots {
    position: absolute;
    right: 30px;
    bottom: 0px;
}  

.slick-dots li{
    display: inline;
}

#sports-links{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sport{
    border: solid thin #ccc;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.sport img{
    width: 100%;
}

.sport a:hover img{
 opacity: 0.5;
}

.sport h4{
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top:40%;    
    text-shadow: #ccc;
    color: white;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
}

#banner{
    padding: 50px 0;
    margin-bottom: 50px;
}
#banner h3{
    font-weight: 600;
}
#banner .btn-outline-light{
    margin-top: 30px;
}
footer{
    height: 30px;
    background: #F73E06;
    color: #fff;
}

#teams{
    margin-bottom: 50px;
}

#latestResults h2, #latestResults h3, #latestResults h4{
    width: 100%;
}

.matches{
    padding: 40px 0 80px;
}
.match-detail{
    background: #fff;
    margin: 15px;
    padding: 15px;
}

.match-detail .logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px
}
.match-detail p{
    margin-bottom: 0;
    font-size: 15px;
    margin-bottom: 8px;
}

.match-detail .home,
.match-detail .away{
    width: 40%;
}

.match-detail .vs {
    width: 20%;
    font-size: 13px;
    font-weight: 600;
    color: #858585;
}

#sports-links h3{
    color: #385370;
    margin-bottom: 40px;
    font-weight: 600;
}

.bg-dark {
    background-color: #385370 !important;
}

.sport-header .jumbotron-fluid{
    margin-bottom: 0;
    background: rgba(0,0,0,0.5);
}

.sport-header .jumbotron-fluid h2{
    color: #FFF;
    font-family: 'Anton', sans-serif;
}

.sport-header .jumbotron-fluid p{
    color: #FFF;
}
.sport-header.Basketball{
    background: url(../images/slide2.jpg);
    background-size: cover;
}
.sport-header.Football{
    background: url(../images/football-bg.jpg);
    background-size: cover;
}

.sport-header.Soccer{
    background: url(../images/soccer-bg.jpg);
    background-size: cover;
}
.sport-header.Baseball{
    background: url(../images/baseball-bg.jpg);
    background-size: cover;
}

#latestResults h4 {
    color:#F73E06;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

#latestResults h3{
    color: #385370;
}

#latestResults h3 {
    color: #385370;
    font-size: 37px;
    font-weight: 300;
}

h6#match-date {
    color: #858585;
    font-weight: bold;
}

.matches h4{
    text-transform: uppercase;
    color: #385370;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.matches button.slick-prev.slick-arrow {
    position: absolute;
    top: -70px;
    right: 35px;
    width: 30px;
    font-size: 0;
    height: 30px;
    border: solid thin #385370;
    border-radius: 6px;
    background: transparent;
}

.matches button.slick-next.slick-arrow {
    position: absolute;
    top: -70px;
    right: 0;
    width: 30px;
    font-size: 0;
    height: 30px;
    border-radius: 6px;
    border: solid thin #385370;
    background: transparent;
}

ul.slick-dots li button {
    width: 15px;
    height: 16px;
    font-size: 0;
    border: solid thin #385370;
    border-radius: 50%;
    margin-right: 7px;
}

ul.slick-dots .slick-active button{
    background: #385370;
}

.matches .slick-dots {
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.match-detail p{
    color: #385370;
    font-weight: 600;
}

.match-detail p.date{
    color: #858585;
    font-weight: 300;
}

.section.team-info{
    padding: 50px 0;
}

.team-info .header img{
    display: inline-block;
    width: 200px;
}

.team-info .header h3{
    display: inline-block;
    width: calc(100% -250px);
}