img{
    max-width: 100%;
}

.navbar-brand{
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}

#jumboTag {
    text-align: right;
    margin-bottom: -10px;
    margin-right: 35px;
}
 
#latestResults {
    background: none;
}

#sportJumboLabel, #jumboMatchSched {
    margin-left: 170px;
    display: inline-block;
}

#jumboTag {
    margin-right: 35px;
    font-size: 85%;
}

#latestRow {
    margin-bottom: 90px;
}

#homeScore, #awayScore {
    font-size: 35px;
    font-weight: bold;
}

.vl {
    border-left: 3px solid rgb(73, 73, 73);
    height: 150px;
    transform: rotate(35deg);
    margin-top: 20px;
}

.matchCarousel {
    text-align: center;
}

#matchSelect {
    display: inline-block;
    float: right;
    margin-right: 170px;
}
#userInfo{
 font-size: 20;
 font-weight: lighter;
 margin: 8%  auto;
 padding: 10px
}
 
.slider .caption{
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 100px;
}

.slider .slick-slide{
    position: relative;
}
.slick-dots {
    position: absolute;
    right: 30px;
    bottom: 0px;
}  

.slick-dots li{
    display: inline;
}

#sports-links{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sport{
    border: solid thin #ccc;
    height: 100px;
    text-align: center;
}

#banner{
    padding: 50px 0;
    margin-bottom: 50px;
}

footer{
    height: 30px;
    background: #000;
    color: #fff;
}

#teams{
    margin-bottom: 50px;
}

#latestResults h2, #latestResults h3, #latestResults h4{
    width: 100%;
}